<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido! Plan Standard</title>
    <link rel="stylesheet" href="/styles/standard.css">
    <script src="https://kit.fontawesome.com/6e7b88c5e0.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div class="download">
            <h1>Bienvenido al equipo</h1>
            <p>Gracias por elegir el plan standard</p>
            
        
        <div style="z-index: 2" class="whatsapp"> 
            <a href="https://api.whatsapp.com/send?phone=573002805586&amp;text=Hola%20Jamir%20.%20Quiero%20que%20me%20asesores%20en%20el%20Sistema%20TDC.%20Mi%20nombre%20es%20" target="_blank"> <img class="logo_whatsapp ea-buttonRocking" src="https://sistematdc.com/assets/img/gen/logo_whatsapp.png" alt=""> </a>
    </section>
        
</body>
</html>